################################
#Mac specific files

.DS_Store

################################
#Data files

*.csv
/Admin/Archive
Data

################################
#Jupyter Notebook file

.ipynb_checkpoints

################################
#Google BigQuery files

*.json

################################